= form_with url: map_request_path, method: :post, class: "search_form d-flex" do |f|
  = f.text_field :address, placeholder: "Type place", class: "search_box form-control", id: "address-input"
  = f.button 'Search', id: 'search-submit', class: "btn btn-outline-dark btn-sm"
.d-flex.mt-2.mb-2
  %button.set-my-view.btn.btn-sm.btn-success my view
  %button.save-this-view.btn.btn-sm.btn-success.ml-1 save this view
#map

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['gcp_api_key']}&libraries=places&callback=initMap", "data-turbolinks-eval": "false"}

:javascript
  if (map !== undefined) {
    initMap();
  }


