#file-drop-area {
  border: 1px dashed #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  min-height: 10rem;
  padding: 0.8rem;
  cursor: pointer;
  .newpost-modal__image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    width: 100%;
    cursor: pointer;
  }
}