.dd-sign-in-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(asset_path("sign_in_bg.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  &__dark-overlay {
    background-color: rgba(0, 0, 0, 0.23);
    height: 100%;
  }
}

.dd-sign-in-brand {
  padding-top: 7rem;
  // &__head {
  //   // font-size: 6rem;
  //   // letter-spacing: 1rem;
  //   // font-style: italic;
  // }
}