.signin-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(asset_path("sign_in_bg.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  &__dark-overlay {
    background-color: rgba(0, 0, 0, 0.23);
    height: 100%;
  }
}

.signin-brand {
  padding-top: 7rem;
}

.signin-btn, .signup-btn {
  line-height: 2em;
}

.facebook-login-btn {
  background-color: #4267B2;
  border-color: #4267B2;
  color: #fff;
  vertical-align: center;
  &:hover {
    background-color: #375592;
    border-color: #375592;
    color: #fff;  
  }
  span {
    display: inline-block;
    height: 100%;
  }
}

.twitter-login-btn {
  background-color: #22A1F2;
  border-color: #22A1F2;
  color: #fff;
  vertical-align: center;
  &:hover {
    background-color: #1C84C7;
    border-color: #1C84C7;
    color: #fff;  
  }
  span {
    display: inline-block;
    height: 100%;
  }
}