.post.card.mb-1{"data-postid": "#{post.id}"}
  .card-body
    %h5.card-title.post__place-name
      = post.place_name
    - if post.visit_date.present?
      %h6.card-subtitle.text-muted.mb-1.post__date
        visited_on: 
        = post.visit_date
    = image_tag post.images.first.image_url, class: 'card-img' if post.images.first.present?