.my-navbar {
  opacity: 0.9;
  // height: 80px;
  // width: 100%;
  // background-color: #444;
  // display: flex;
  // justify-content: space-between;
  // border-bottom: 5px solid black;
  &__lists {
    display: flex;
  }
  &__leftbox {
    font-size: 40px;
    font-style: italic;
    // margin-left: 20px;
  }
  &__head {
    color: white;
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
  }
}

.search_form {
  display: flex;
}

.search_box {
  width: 100%;
  margin-right: 10px; 
}

#map {
  height: calc(100vh - 200px);
  min-height: 300px;
  width: 100%;
}


.posts {
  height: calc(100vh - 80px);
  overflow: scroll;
  flex-wrap: wrap;
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
  .post {
    width: 33%;
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
    .card-title {
      -webkit-text-stroke: 0.03rem red;
    }
  }
}

.form {
  height: 90px;
  background-color: #ddd;
  padding: 20px 40px;
  .new_message {
    display: flex;
  }
  &__input-box {
    display: flex;
    position: relative;
    width: 100%;
  }
  &__message {
    height: 50px;
    border: none;
    padding: 0 40px 0 10px;
    width: 100%;
  }
  &__mask-image {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__box {
    display: flex;
  }
  .hidden {
    display: none;
  }
  &__button {
    height: 50px;
    width: 100px;
    background-color: #973420;
    padding: 0 30px;
    margin-left: 15px;
    color: white;
  }
}
